/* WARNING: E' da notare che con Transition-property:all
cambia anche il modo in cui compare l'elemento nelle pagina.
Camparirà con una lieve transizione di entrata. */

/* Proprietà comuni*/
.ex-1-square,.ex-2-square,.ex-3-square,.ex-4-square,.ex-5-square,
.ex-7-img,.ex-8-img,.ex-9-img{
  transition-property: all;
  transition-duration: 3s;
}

/* Esercizio 1*/
.ex-1-square:hover{
  background-color: red;
}

/* Esercizio 2*/
.ex-2-square:active{
  width: 100%;
}

/* Esercizio 3*/
.ex-3-square:hover{
  border-radius: 100%;
}

/* Esercizio 4*/
.ex-4-square:hover{
  background-color: transparent;
}

/* Esercizio 5*/
.ex-5-square:hover{
  width: 150px;
  height: 150px;
}

.ex-5-square:active{
  width: 50px;
  height: 50px;
}

/* Esercizio 6 */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img:hover{
  filter: grayscale(0.6) sepia(0.3);
}

/* Esercizio 8 */
.ex-8-img:hover{
  border-radius: 20px;
  filter: brightness(0.8) saturate(0.2);
}

/* Esercizio 9 */
.ex-9-img:hover{
  border-radius: 20px;
  filter: contrast(0.8) saturate(3);
  transform: scale(1.5);
}

/* Esercizio 10 */
.ex-10-icon{
  animation-name: caricamento;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes caricamento {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

/* Esercizio 11 */
.ex-11-icon:hover{
  animation-name: speedback;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes speedback {
  0% {transform: rotate(0);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(0);}
}
